/*********Variable*********/
$header-background: #eaeaea;
$primary-background: #f6f6f6;
$segondary-background: #ffffff;
$button-background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
$color-elipse: #9356dc;
$footer-background: #353535;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}
* {
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
main {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  &__arrow-left {
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 1.5rem;
    justify-content: flex-start;
  }
  &__logo {
    justify-content: center;
    display: flex;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 2;
    @media screen and (min-width: 768px) {
      box-shadow: none;
    }
    img {
      width: 200px;
      height: 40px;
    }
  }
}
/*******Reglage de la photo d'accueill des pages restaurants ****************/
.accueil-image-restaurant {
  height: 240px;
  width: 100%;
  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
}
/*h1 + coeur*/
.accueil-restaurant-titre {
  display: flex;
  align-items: center;
  background-color: $primary-background;
  border-radius: 25px 25px 0 0;
  position: relative;
  @media screen and (min-width: 768px) {
    width: 100%;
    justify-content: center;
  }
  .container-coeur {
    @media screen and (min-width: 768px) {
      position: relative;
    }
  }
  h1 {
    font-size: 1.75rem;
    font-family: shrikhand;
    font-weight: 400;
    padding-left: 20px;
    @media screen and (max-width: 345px) {
      font-size: 1.5rem;
    }
  }
  i {
    cursor: pointer;
    position: absolute;
    top: 27px;
    right: 35px;
    font-size: 1.5rem;
    @media screen and (min-width: 768px) {
      top: -13px;
      right: -50px;
    }
    @media screen and (max-width: 345px) {
      top: 22px;
    }
  }

  .fa-solid {
    opacity: 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.4s ease-in-out;
    background-image: $button-background;
    &:hover {
      opacity: 1;
    }
  }
}
/*superposition conteneur sur img restaurant*/
.container-menu {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  width: 100%;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    width: 80%;
    display: flex;
    align-items: center;
  }
}
/****Bouton****/
.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-background;
  width: 100%;
  .button-CTA {
    margin: 30px 0 40px 0;
    padding: 15px 40px;
  }
}
.button-CTA {
  background: $button-background;
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  border-radius: 25px;
  padding: 15px 20px;
  border: none;
  margin-bottom: 30px;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.493); // Ajoute une ombre au bouton
  cursor: pointer; // Change le curseur lorsqu'il survole le bouton
  transition: all 0.4s; /* Anime la transition entre les états du bouton */

  &:hover {
    //Change le style losqu'il est survoler par l'utilisateur
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.623); // Change l'ombre du bouton lorsqu'il est survolé
    transform: scale(
      1.01
    ); //Légèrement agrandit le bouton lorsqu'il est survolé
    opacity: 0.9; // Réduit légèrement l'opacité du bouton lorsqu'il est survolé
  }
}
.card-box {
  @media screen and (min-width: 768px) {
    width: 70%;
  }
  background-color: $primary-background;
  h2 {
    font-family: Roboto;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 15px 10px 15px;
  }
  .ligne {
    width: 50px;
    height: 3px;
    background-color: #99e2d0;
    margin-left: 15px;
  }
  .card-box__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 15px;

    &__carte {
      background-color: $segondary-background;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      border-radius: 15px;
      height: 60px;
      overflow: hidden;
      /***survolAnimation***/
      &:hover {
        & .card-box__container__carte-text {
          h2 {
            overflow: hidden;
          }
          p {
            overflow: hidden;
          }
        }
        & .card-box__container__carte-prix {
          transform: translateX(0px);
          & .fa-circle-check {
            color: white;
            transform: rotate(2turn);
          }
          & span {
            background-color: #99e2d0;
          }
        }
      }
    }
    &__carte-text {
      margin-right: auto;
      display: flex;
      gap: 5px;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding: 0 0 0 15px;
      overflow: hidden;
      white-space: nowrap;
      h3 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1rem;
        font-family: Roboto;
        font-weight: 600;
        margin: 0;
      }
      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.8rem;
        font-family: Roboto;
        font-weight: 300;
        margin: 0;
      }
    }
    &__carte-prix {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-family: Roboto;
      font-weight: 700;
      transform: translateX(45px);
      transition: all 0.4s;
      p {
        padding-top: 25px;
        margin-right: 10px;
      }
      span {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50px;
        border-radius: 0 15px 15px 0px;
        .fa-circle-check {
          color: transparent;
          transition: all 0.4s;
        }
      }
    }
  }
}
.footer {
  // Configuration pour les écrans de taille moyenne et supérieure
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse; // Inverser l'ordre des éléments dans le footer
  }
  background: $footer-background;
  display: flex;
  flex-direction: column; // Disposition verticale des éléments
  padding: 20px;
  font-family: roboto, sans-serif;
  &__logo {
    h2 {
      color: white;
      font-size: 18px;
      font-family: shrikhand, sans-serif;
      font-weight: 300;
      margin: 0 0 10px;
      @media screen and (min-width: 768px) {
        margin: 0 40px 10px; // Marge différente pour les écrans de taille moyenne et supérieure
      }
    }
  }
  &__content {
    // Configuration pour les écrans de taille moyenne et supérieure
    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-right: 80px;
      align-items: center; // Alignement vertical des éléments au centre
      gap: 25px;
    }
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      color: $segondary-background;
      text-decoration: none;
      .fa-utensils {
        margin-right: 10px;
      }
      .fa-handshake {
        margin-right: 5px;
        rotate: 325deg; // Rotation de l'icône de 325 degrés
      }
    }
  }
}
