/*********Variable*********/
$header-background: #eaeaea;
$primary-background: #f6f6f6;
$segondary-background: #ffffff;
$button-background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
$color-elipse: #9356dc;
$footer-background: #353535;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}
* {
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
/*********Header*********/

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  &__arrow-left {
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 1.5rem;
  }
  &__logo {
    justify-content: center;
    display: flex;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 2;
    @media screen and (min-width: 768px) {
      box-shadow: none;
    }
    img {
      width: 200px;
      height: 40px;
    }
  }

  &__gps-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: $header-background;
    font-family: roboto, sans-serif;
    height: 60px;
  }
}
.fa-location-dot {
  font-size: larger;
}
input {
  border: none;
  padding: 5px;
  font-size: 1rem;
  background-color: #eaeaea;
  font-weight: bold;
  width: 130px;

  &:focus {
    //Change le style losqu'il est selectionner par l'utilisateur
    outline: 3px solid $color-elipse;
    border-radius: 5px;
  }
}

.reservation {
  width: 100%;
  background-color: $primary-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  h1 {
    padding: 40px 55px 0px 55px;
    text-align: center;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
  p {
    margin: 0;
    padding: 0 30px;
    text-align: center;
    color: #353535;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 300;
  }
}
h1 {
  padding: 40px 55px 0px 55px;
  text-align: center;
  margin: 0;
}
h2 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.button-CTA {
  background: $button-background;
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  border-radius: 25px;
  padding: 15px 20px;
  border: none;
  margin-bottom: 30px;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.493); // Ajoute une ombre au bouton
  cursor: pointer; // Change le curseur lorsqu'il survole le bouton
  transition: all 0.4s; /* Anime la transition entre les états du bouton */

  &:hover {
    //Change le style losqu'il est survoler par l'utilisateur
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.623); // Change l'ombre du bouton lorsqu'il est survolé
    transform: scale(
      1.01
    ); //Légèrement agrandit le bouton lorsqu'il est survolé
    opacity: 0.9; // Réduit légèrement l'opacité du bouton lorsqu'il est survolé
  }
}

/******section fonctionnement*******/

.fonctionnement {
  padding: 10px;
  margin-bottom: 40px;
  margin-left: 10px;

  @media screen and (min-width: 768px) {
    width: 88%; // Réduit la largeur à 88% lorsque la largeur de l'écran est supérieure ou égale à 768 pixels
  }

  @media screen and (min-width: 1024px) {
    width: 97%; // Réduit la largeur à 97% lorsque la largeur de l'écran est supérieure ou égale à 1024 pixels
  }

  h2 {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  .fonctionnement__choix-container {
    display: flex;
    flex-direction: column; // Arrange les éléments enfants en colonnes
    gap: 15px;

    @media screen and (min-width: 1024px) {
      display: grid; // Utilise un affichage en grille pour les éléments enfants
      gap: 15px 30px;
      grid-template-columns: repeat(
        3,
        29%
      ); // Crée trois colonnes égales de 29% de largeur chacune
      grid-template-rows: auto;
      justify-content: center; // Centre les éléments enfants horizontalement
      grid-template-areas: // Définit les zones de la grille pour placer les éléments enfants

        "title title title"
        "card1 card2 card3";

      .title {
        grid-area: title;
      }

      .card1 {
        grid-area: card1;
      }

      .card2 {
        grid-area: card2;
      }

      .card3 {
        grid-area: card3;
      }
    }

    a {
      color: black;
    }

    .fonctionnement__choix-container__composant {
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;
      font-family: roboto, sans-serif;
      background: $primary-background;
      border-radius: 20px;
      box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.623); // Ajoute une ombre à l'élément
    }

    span {
      position: absolute; // Positionne l'élément par rapport à son premier parent positionné
      top: 20px;
      left: -10px;
      display: flex;
      height: 24px;
      width: 24px;
      background: $color-elipse;
      border-radius: 200px;
      color: white;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;
      font-family: "roboto";
    }

    .container__icone {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 15px;
      margin-left: 30px;
    }

    .fa-solid {
      font-weight: 900;

      &.fa-mobile-screen-button {
        color: #7e7e7e;
      }

      &.fa-list {
        color: #7e7e7e;
      }

      &.fa-store {
        color: $color-elipse;
      }
    }
  }
}

/******section restaurant*******/
.restaurants {
  position: relative; // Position relative par rapport à son contexte d'origine
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: $primary-background;
  padding: 50px 20px;
  @media screen and (min-width: 768px) {
    width: 100%; // Largeur de 100% pour les écrans de taille moyenne et supérieure
    display: grid; // Affichage en grille
    justify-content: center;
    gap: 40px 80px;
    padding: 50px 0px;
    grid-template-columns: repeat(
      2,
      39%
    ); // Deux colonnes de largeur égale prenant 39% de l'espace chacune
    grid-template-rows: auto; // Hauteur automatique des lignes
    grid-template-areas: // Définition des zones de la grille
      "title title" // Première ligne avec deux zones pour les titres
      "card1 card2" // Deuxième ligne avec deux zones pour les cartes 1 et 2
      "card3 card4"; // Troisième ligne avec deux zones pour les cartes 3 et 4
    .title {
      grid-area: title;
    }
    .card1 {
      grid-area: card1;
    }
    .card2 {
      grid-area: card2;
    }
    .card3 {
      grid-area: card3;
    }
    .card4 {
      grid-area: card4;
    }
  }
  h2 {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
  &__card {
    position: relative; // Position relative par rapport à son contexte d'origine
    overflow: hidden; // Masquer le contenu qui dépasse
    display: flex;
    flex-direction: column; // Disposition verticale des éléments
    border-radius: 15px;
    background: $segondary-background;
    a {
      position: relative; // Position relative par rapport à son contexte d'origine
      display: flex;
      flex-direction: column;
      height: 275px;
      img {
        height: 75%;
        width: 100%;
        object-fit: cover; // Redimensionner l'image pour couvrir toute la zone
      }
      .restaurants__card__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between; // Espace équitablement les éléments sur la ligne
        align-items: flex-start; // Aligner les éléments en haut de la ligne
        padding: 10px;
        h3 {
          font-size: 18px;
          font-family: roboto, sans-serif;
          font-weight: 700;
          margin: 0;
        }
        p {
          margin: 0;
          font-size: 17px;
          font-family: Roboto, sans-serif;
          font-weight: 300;
        }
      }
    }
    .restaurants__card__content__heart {
      position: absolute; // Position absolue par rapport à son premier ancêtre positionné
      top: 225px;
      right: 45px;
    }
    i {
      position: absolute;
      font-size: 1.3rem;
      cursor: pointer;
    }
    .fa-solid {
      opacity: 0; // Opacité à 0 (invisible)
      color: transparent; // Couleur transparente
      background-clip: text;
      -webkit-background-clip: text;
      transition: all 1s ease-in-out; // Transition de tous les paramètres pendant 1 seconde avec un effet d'entrée et de sortie en douceur
      background-image: $button-background;
      &:hover {
        opacity: 1; // Opacité à 1 au survol (visible)
      }
    }
  }
}
.restaurants__card__nouveau {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  p {
    color: #008766;
    font-family: Roboto;
  }
}

/******Footer*******/

.footer {
  // Configuration pour les écrans de taille moyenne et supérieure
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse; // Inverser l'ordre des éléments dans le footer
  }
  background: $footer-background;
  display: flex;
  flex-direction: column; // Disposition verticale des éléments
  padding: 20px;
  font-family: roboto, sans-serif;
  &__logo {
    h2 {
      color: white;
      font-size: 18px;
      font-family: shrikhand, sans-serif;
      font-weight: 300;
      margin: 0 0 10px;
      @media screen and (min-width: 768px) {
        margin: 0 40px 10px; // Marge différente pour les écrans de taille moyenne et supérieure
      }
    }
  }
  &__content {
    // Configuration pour les écrans de taille moyenne et supérieure
    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-right: 80px;
      align-items: center; // Alignement vertical des éléments au centre
      gap: 25px;
    }
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      color: $segondary-background;
      text-decoration: none;
      .fa-utensils {
        margin-right: 10px;
      }
      .fa-handshake {
        margin-right: 5px;
        rotate: 325deg; // Rotation de l'icône de 325 degrés
      }
    }
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 91, 91, 0.299);
  z-index: 99999;
  top: 0;
  left: 0;
  animation: fadeOut 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.5s forwards;
}

.loader {
  height: 200px;
  width: 200px;
  border-top: 8px solid #9356dc;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-radius: 100px;
  animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1.1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
